<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>WishList</title>
  <link rel="stylesheet" href="{{ pathPrefix }}styles/style.css" />
</head>
<body>
  <main class="container">

    <div class="folderGrid">
        {% for item in links %}
            <a class="folder" href="{{ item.href }}">
                <img src="{{ pathPrefix }}images/bluefolder.png" alt="Folder icon">
                <span class="title">{{ item.title }}</span>
            </a>
        {% endfor %}
    </div>
  
    
  </main>

</body>
<script src="{{ pathPrefix }}scripts/randomizer.js" defer></script>
</html>
