<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>WishList</title>
  <link rel="stylesheet" href="{{ pathPrefix }}styles/home.css" />
</head>
<body>
  <main class="container">

    <div class="folderGrid">
      <img src="{{ pathPrefix }}images/bluefolder.png" alt="folder Picture Icon">
      <span class="title">Wishlist</span>
    </div>
    <div class="folderGrid">
      <img src="{{ pathPrefix }}images/bluefolder.png" alt="folder Picture Icon">
      <a href="https://fany.me" class="title">Portfolio </a>
    </div>
  
     <div class="topBar" >
        <span>Locations</span>
        <span>›</span>
        <b>Home</b>
        <div class="filterbox">
          <div class="filteritem">
            <div>Object</div>
            <div>Experience</div>
            <div>Place</div>
          </div>
        </div>
        
      </div>
  </main>

</body>
<script src="{{ pathPrefix }}scripts/randomizer.js" defer></script>
</html>
