<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>WishList</title>
  <link rel="stylesheet" href="{{ '/styles/collectionStyle.css' | url }}" />
</head>
<body>
  <div class="wishBody">
     <!-- Top Bar (navigation to home or wishlist list)-->
    <div class="topBar" >
        <div class="topBar-group">
            <a class="topBar-list" href="{{ home }}">Home</a>
            <a class="topBar-list" href="{{ wishlist }}" >Wishlist</a>
        </div>
    </div>

   <!-- Content (Randomize placing of wishlist items) -->
   <main class="content">
    <section class="floatStage" >
        {% for wishImage in img%}
          <div class="floatItem"> 
           <img src="{{ ('/images/' ~ wishImage) | url }}">
          </div>
        {% endfor %}
        <div class="floatItem" id="title"> {{ title }} </div>
        <div class="floatItem" id="description"> {{ description }} </div>
        <a class="floatItem" id="linkButton" href="{{ link }}"> Learn More </a>
        <div class="floatItem" id="content"> {{ content | safe }} </div>
    </section>
    </main>

  </div>
</body>
<script src="{{ '/scripts/randomizer.js' | url }}" defer></script>
</html>
